{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">



<h1>Welcome, {{ name }}!</h1>
<div class="container">
    <form class="form-dashboard">
        <h2 class="form-signin-heading">Last measured value:</h2>
        <p>Timestamp: {{ measured_values[0].timestamp }}</p> 
        <p>Temperature: {{ measured_values[0].temp }} °C</p>
    </form>
    
</div>

<div class="custom-input-group">
    <input type="text" class="custom-input" placeholder="Number of last measured values" aria-label="Number of last measured values" aria-describedby="basic-addon2">
    <button class="custom-button btn btn-outline-secondary" type="button" id="basic-addon2">Confirm</button>
</div>

<div class="custom-input-group">
    <input type="text" class="custom-input" placeholder="Number of values you want to delete" aria-label="Number of values you want to delete" aria-describedby="basic-addon2">
    <button class="custom-button btn btn-outline-secondary" type="button" id="basic-addon2">Confirm</button>
</div>

<div class="container mt-5">
    <table class="table table-responsive table-bordered table-custom border-dark table-hover text-center text-capitalize">
        <thead class="table-dark table-active text-uppercase text-white">
            <tr>
                <th>Timestamp</th>
                <th>Temperature</th>    
            </tr>
            
        </thead>
        <tbody>
            {% for value in measured_values %}
            <tr>
                <td>{{ value.timestamp }}</td>
                <td>{{ value.temp }} °C</td>
            </tr>   
            {% endfor %} 
        </tbody>
        
    </table>
</div>

{% endblock %}


