{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">

<div class="container">

    <form class="form-signin mx-auto text-center">
        <h2 class="form-signin-heading">Register</h2>
    
        <div class="form-group">
            <label for="username">Username:</label>
            <input type = "text" class="form-control" placeholder="Enter your username">
        </div>
    
        <div class="form-group">
            <label for="password">Password:</label>
            <input type = "text" class="form-control" placeholder="Enter your password">
        </div>
    
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
  
  </div> 
{% endblock %}